{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <h1>Device Listing and Status</h1>

        {% for pin in pins %}
        <p>{{ pins[pin].name }} </p>
        {% if pins[pin].state == true %}
           <a class="btn btn-default" href="/{{pin}}/off">turn off</a>
        {% else %}
           <a class="btn btn-default" href="/{{pin}}/on">turn on</a>
        {% endif %}
        {% endfor %}

        {% if message %}
        <h2>{{ message }}</h2>
        {% endif %}
    </div>
{% endblock %}
